@font-face {
  font-family: "Onest";
  font-weight: 100;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Thin.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 200;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 300;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 400;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 500;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 600;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 700;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 800;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Onest";
  font-weight: 900;
  font-display: swap;
  src: url(/src/assets/fonts/Onest/static/Onest-Black.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url(/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url(/src/assets/fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf) format("truetype");
}