@use '../base/colors' as *;
// @use '../base/fonts' as *;

.header {
  width: 100%;
  color: $white;

  &__bg {
    background-image: url(/src/assets/images/bg_header_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 472px;
  }

  &__top {
    padding-left: 8px;
    padding-top: 17px;
    padding-bottom: 17px;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__menu {
    display: none;
  }

  &__menu-list {
    display: flex;
  }

  &__menu-link {
    color: $white;
    font-weight: 900;
  }

  &__mail {
    display: none;
    color: $white;
    font-weight: 100;
  }

  &__phone {
    display: none;
    color: $white;
    font-weight: 100;
  }

  &__overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    &.open {
      display: block;
    }
  }

  &__sideMenu {
    position: fixed;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: self-end;

    top: 0;
    right: -781px;
      // right: 0;

    width: 85%;
    height: 100%;

    background: $bgblack-color;

    padding: 25px 32px 32px 89px;

    transition: 0.3s;

    &-list {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 36px;

      text-align: right;
    }

    &-item {
      font-size: 36px;
      font-weight: 500;
      line-height: 110%;
      
      color: $white;
    }

    &-link {
      font-size: 36px;
      font-weight: 500;
      line-height: 110%;
      
      color: $white;
    }

    &-mail {
      font-size: 22px;
      font-weight: 400;
      line-height: 130%;

      color: $white;
    }

    &.open {
      right: 0;
    }
  }

  @media screen and (min-width: 360px) {
    & {

      &__bg {
        min-height: 479px;
      }

      &__top {
        padding-left: 0;
        padding-top: 16px;
        padding-bottom: 16px;
      }    
      
      
    }
  }

  @media screen and (min-width: 780px) {
    & {

      &__bg {
        min-height: 400px;
      }

      &__top {
        padding-left: 8px;
        padding-top: 24px;
        padding-bottom: 24px;
      }

      &__menu {
        display: block;
        // margin-left: -30%;
      }

      &__menu-list {
        gap: 23px;
      }

      &__menu-link {
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
      }

      &__contactWrapper {
        display: flex;
        white-space: nowrap;
        gap: 15px;
      }

      &__mail {
        display: block;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
      }

      &__phone {
        display: block;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        white-space: normal;
        padding-left: 5px;
        text-align: center;
      }

      &__hamburger {
        display: none;
      }

      &__overlay {
        display: none;

        &.open {
          display: none;
        }
      }

      &__sideMenu {
        display: none;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    & {

      &__bg {
        min-height: 472px;
      }

      &__menu {
        margin-left: -20%;
      }

      &__menu-list {
        gap: 36px;
      }

      &__menu-link {
        font-size: 15px;
        line-height: 130%;
      }

      &__contactWrapper {
        display: flex;
        gap: 30px;
      }

      &__mail {
        font-size: 15px;
        line-height: 130%;
      }

      &__phone {
        font-size: 15px;
        line-height: 130%;
        padding-left: 0;
      }
    }
  }
}