@use '../base/colors' as *;

.products {
  padding-top: 32px;
  padding-bottom: 32px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 32px;

    &--FastCode {
      padding-top: 30px;
    }
  }

  &__about-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 110%;
  }

  &__about-text {
    padding-top: 16px;

    font-size: 15px;
    font-weight: 400;
    line-height: 150%;

    &--small {
      display: inline;
    }

    &--big {
      display: none;
    }
  }

  &__firstWord {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 150%;
    color: $red;
  }

  &__part {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__card {
    background-color: $grayDark;

    min-height: 400px;
    height: 400px;

    padding: 170px 24px 36px;

    display: flex;
    flex-direction: column;
    // justify-content: end; 

    // &-content {
    //   margin-top: auto;
    // }

    &-title {
      font-size: 20px;
      font-weight: 400;
      line-height: 130%;

      padding-bottom: 12px;
    }

    &-text {
      color: $gray;

      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
    }

    &--Platform {
      background-image: url('/src/assets/images/services_outstaffing.png');
      background-repeat: no-repeat;
      background-position: top right;

      padding-right: 30px;
      background-size: 215px 180px;  
      
      &--FastCode {
        min-height: 520px;
        height: 520px;
      }
    }

    &--Docs {
      background-image: url('/src/assets/images/services_mvp.png');
      background-size: contain;
      background-repeat: no-repeat;

      padding-right: 10px;
      padding-bottom: 15px;
      background-size: 215px;
      background-position: top right;
    }

    &--Archive {
      background-image: url('/src/assets/images/services_qa.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      background-size: 215px;
      background-position: top right;
      padding-bottom: 20px;
    }

    &--DocBuilder {
      background-image: url('/src/assets/images/services_mvp.png');
      background-size: contain;
      background-repeat: no-repeat;

      padding-right: 10px;
      padding-bottom: 15px;
      background-size: 215px;
      background-position: top right;
    }
    
    &--Hub {
      background-image: url('/src/assets/images/services_qa.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      background-size: 215px;
      background-position: top right;
      padding-bottom: 20px;
    }

    &--Projects {
      background-image: url('/src/assets/images/services_outstaffing.png');
      background-repeat: no-repeat;
      background-position: top right;

      padding-right: 30px;
      background-size: 155px;
    }
    
    &--TaskManager {
      background-image: url('/src/assets/images/services_mvp.png');
      background-size: contain;
      background-repeat: no-repeat;

      padding-right: 10px;
      padding-bottom: 15px;
      background-size: 215px;
      background-position: top right;
    }

    &--HRM {
      background-image: url('/src/assets/images/services_qa.png');
      background-size: contain;
      background-repeat: no-repeat;
      background-position: top;

      background-size: 215px;
      background-position: top right;
      padding-bottom: 20px;
    }    
  }

  // @media screen and (min-width: 360px) {
  //   & {
  //   }
  // }

  @media screen and (min-width: 780px) {
    & {
      padding-top: 44px;

      &__about {
        width: 100%;

        &-title {
          font-size: 40px;
        }
      }

      &__part {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }

      &__card {
        min-height: 440px;
        height: 440px;
    
        padding: 180px 30px 36px 32px;

        &-title {
          font-size: 26px;
        }

        &-text {
          font-size: 15px;
        }

        &--Platform {
          grid-column: span 2;
          
          background-size: 330px;

          min-height: 400px;
          height: 400px;

          justify-content: center;

          &--FastCode {
            min-height: 480px;
            height: 480px;
          }
        }

        &--Docs {
          background-size: 250px;
        }

        &--Archive {
          background-size: 300px;
        }

        &--DocBuilder {
          background-size: 250px;
        }
        
        &--Hub {
          background-size: 300px;
        }

        &--Projects {
          background-size: 200px;
        }
        
        &--TaskManager {
          background-size: 290px;
        }

        &--HRM {
          background-size: 300px;
        }           
      }
    }
  }

  @media screen and (min-width: 1280px) {
    & {
      padding-top: 64px;

      &__wrapper {
        flex-direction: row;
        gap: 28px;

        &--FastCode {
        padding-top: 150px;
      }
      }

      &__about-title {
        font-size: 52px;
      }

      &__about-text {
        font-size: 17px;

        &--small {
          display: none;
        }

        &--big {
          display: inline;
        }
      }

      &__firstWord {
        display: block;

        padding-top: 20px;
        padding-bottom: 10px;
      }      

      &__card {    
        min-height: 400px;
        height: 400px;
    
        padding-top: 175px;

        &--Platform {
          min-height: 300px;
          height: 300px;

          padding-top: 175px;

          background-size: 305px;

          &--FastCode {
            padding-right: 240px;

            min-height: 450px;
            height: 450px;
          }
        }

        &--Docs {
          background-size: 385px;
        }

        &--Archive {
          background-size: 385px;
        }

        &--DocBuilder {
          background-size: 385px;
        }
        
        &--Hub {
          background-size: 385px;
        }

        &--Projects {
          background-size: 270px;
        }
        
        &--TaskManager {
          background-size: 385px;
        }

        &--HRM {
          background-size: 385px;
        }  

      }
    }
  }

}